In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("C:/Users/Sarthak Srivastava/Pattern recognition/NIFTY22JANFUT.csv")
df.head(5)

,Unnamed: 0,dateTime,open,high,low,close,volume
0,0,2021-12-23 09:15:00.0,17105.00,17129.95,17105.0,17106.15,0
1,1,2021-12-23 09:16:00.0,17106.05,17116.00,17100.3,17116.00,12050
2,2,2021-12-23 09:17:00.0,17116.15,17117.85,17102.7,17107.90,5800
3,3,2021-12-23 09:18:00.0,17107.90,17120.00,17107.9,17116.70,7450
4,4,2021-12-23 09:19:00.0,17116.70,17116.70,17105.4,17106.10,4600

In [3]:
len(df)

8303

In [4]:
df['Target'] = df['close']

In [5]:
for i in range(len(df)-1):
    
    if( df['Target'][i+1]-df['Target'][i]>0):
        df.at[i, 'Target'] = 1
    elif( df['Target'][i+1]-df['Target'][i]<0):
        df.at[i, 'Target'] = 0
    elif( df['Target'][i+1]-df['Target'][i]==0):
        df.drop(i, axis=0,inplace=True)

In [6]:
len(df)

8130

In [7]:
df.drop(8302,inplace=True)

In [8]:
df.dropna()

,Unnamed: 0,dateTime,open,high,low,close,volume,Target
0,0,2021-12-23 09:15:00.0,17105.00,17129.95,17105.00,17106.15,0,1.0
1,1,2021-12-23 09:16:00.0,17106.05,17116.00,17100.30,17116.00,12050,0.0
2,2,2021-12-23 09:17:00.0,17116.15,17117.85,17102.70,17107.90,5800,1.0
3,3,2021-12-23 09:18:00.0,17107.90,17120.00,17107.90,17116.70,7450,0.0
4,4,2021-12-23 09:19:00.0,17116.70,17116.70,17105.40,17106.10,4600,1.0
...,...,...,...,...,...,...,...,...
8295,8295,2022-01-21 15:24:00.0,17646.95,17654.50,17645.05,17654.00,60600,0.0
8296,8296,2022-01-21 15:25:00.0,17651.25,17653.55,17645.05,17647.65,44750,0.0
8297,8297,2022-01-21 15:26:00.0,17647.95,17650.20,17645.00,17645.75,20550,1.0
8298,8298,2022-01-21 15:27:00.0,17645.80,17650.00,17645.80,17650.00,34500,0.0
8299,8299,2022-01-21 15:28:00.0,17651.00,17651.00,17646.00,17647.75,43550,1.0

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [10]:
X = df[['open', 'high','low','close','volume']]
y = df['Target']

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=13)

In [24]:
lr = LogisticRegression()

In [25]:
lr.fit(X_train, y_train)

LogisticRegression()

In [26]:
y_pred = lr.predict(X_test)

In [27]:
lr.score(X_test,y_test)

0.4944649446494465

In [28]:
error= mean_squared_error (y_test,y_pred)

In [29]:
error

0.5055350553505535

In [30]:
confusion = pd.crosstab(y_test,y_pred)

In [31]:
confusion

col_0   0.0   1.0
Target
0.0     140  1075
1.0     158  1066